body {
  background: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
  margin: 0;
}

.page {
  width: 1092px;
  margin: 0 auto;
  padding-top: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 14px;
  line-height: 28px;
}

ul li a:hover {
  color: #bebebe;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 82px;
  margin-bottom: 160px;
  text-align: center;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 59px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
  width: 601px;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

#line {
  height: 0;
  border: 1px solid #00BFA6;
  width: 568px;
  margin: 0 auto 27px;
}

footer {
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}

#lock {
  position: fixed;
  left: 20px;
}


